/*@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*/
:root {
    --card: #f3f3f7;
    --border-color: #d2d2d2;
    --yellow-highlight: #ffff00;
    --input-bg: #ffffe1;
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    height: 100%;
    font-family: "Courier Prime", monospace, "Microsoft Sans Serif", Arial;
    font-size: 14px;
}

input {
    background: var(--input-bg);
    border: 1px solid var(--border-color);
    height: 1.8rem;
    display: flex;
    align-self: center;
}

select {
    font-size: 0.9rem;
    border: 1px solid var(--border-color);
    height: 2rem;
}

button {
    height: 27px;
    font-size: 1rem;
    background: white;
    border: 0.5px solid var(--border-color);
    border-radius: 3.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover {
    background: #e5f1fb;
}

.main-container {
    height: auto;
    background: var(--card);
    display: grid;
    grid-template-columns: 665px 1fr;
    margin: 0 auto;
    gap: 0.3rem;
}

.products-section {
    display: grid;
    grid-template-rows: 30px 405px 30px 1fr;
    padding: 0.5rem;
    gap: 0.3rem;
}

.products-header {
    display: grid;
    grid-template-columns: 130px 1fr;
    gap: 0.4rem;
    font-size: 2rem;
}

.products-list {
    border: 1px solid var(--border-color);
    height: 400px;
    background: white;
    overflow-y: scroll;
    overflow-x: auto;
}

.no-data {
    display: grid;
    color: black;
    height: 100%;
    place-items: center;
    font-size: 1.2rem;
}

.products-search {
    display: grid;
    grid-template-columns: 110px 1fr;
    gap: 0.3rem;
}

.products-footer {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 0.3rem;
}

.products-imagen {
    background: white;
    height: 315px;
    display: flex;
    align-items: end;
    justify-content: right;
}

.imagen {
    width: 95%;
    height: 55%;
    /*background-image:url(//imgs.search.brave.com/9CHjbPauXgeucbwW1KxkGEfXFv4O-pudxXJc1NOt5Lw/rs:fit:500:0:1:0/g:ce/aHR0cHM6Ly93d3cu/ZmllcnJvcy5jb20u/Y28vdXBsb2Fkcy9u/ZXdzLXBpY3R1cmVz/L3BwaG90by0yMjM2/LnBuZw);
    background-size: cover;  */
    background: var(--card);
}

.btn {
    position: absolute;
    width: 30px;
    height: 20px;
    background: #f3f3f7;
    border: 1px solid var(--border-color);
    font-size: 0.8rem;
    margin: 0 0.4rem 0.5rem 0;
}

.products-details {
    display: grid;
    grid-template-rows: 100px 40px 1fr;
    margin: 0 0 0 2rem;
}

.products-form {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 35px 35px 35px;
    align-items: center;
    font-weight: bold;
}

.form-group {
    display: contents;
    /*--------------------------------- */
}

.input-group {
    display: grid;
    grid-template-columns: 130px 1fr;
    gap: 0.4rem;
    align-items: center;
}

.checkbox-section {
    display: flex;
    align-items: center;
}

.products-description {
    background: var(--input-bg);
    height: 183px;
    border: 1px solid #000000;
}

.sales-section {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
}

.card-header {
    height: 60px;
    position: relative;
    display: grid;
    grid-template-columns: 600px 1fr;
    padding: 0.8rem;
}

.header-left {
    position: relative;
    display: grid;
    grid-template-rows: 43px 20px;
    gap: 0.3rem;
    height: 50px;
    justify-items: center;
}

.card-title {
    position:fixed;
    display: flex;
    width: 600px;
    justify-content: center;
    font-weight: bold;
    font-size: 2.5rem;
}

.subtitle {
    display: flex;
    justify-content: center;
    height: 20px;
    font-size: 1.2rem;
}

/*
.header-right {
    display: grid;
    place-items: center;
}*/

.boleta-info {
    margin-top: 20px;
    position: fixed;
    background: white;
    color: black;
    border: 2px solid #000000;
    height: 80px;
    width: 155px;
    padding: 0.2rem;
    justify-content: center;
}

.boleta-number {
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    justify-self: center;
    margin-block-end: 0.4rem;
}

.boleta-text {
    font-weight: bold;
    font-size: 0.9rem;
}

.boleta-serie {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    margin-top: 0.4rem;
}

.serie-label,
.serie-number {
    background: #ffffe1;
    padding: 0.2rem 0.5rem;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
}

.serie-label {
    color: #f75454;
}

.card-content {
    display: grid;
    grid-template-columns: 90px 168px;
    grid-template-rows: 30px 30px 30px 30px 30px;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    align-items: center;
    margin: 2rem 0 0 2rem;
}

.card-content input {
    background: white;
}

.dni-group {
    width: 300px;
    display: grid;
    grid-template-columns: 168px auto auto auto;
    gap: 0.3rem;
}

#fecha {
    display: unset;
    padding: 0.2rem;
}

#senores {
    width: 680px;
}

.table-container {
    height: 500px;
    display: grid;
    grid-template-rows: 100px 1fr;
    background: white;
    overflow-x: scroll;
    margin: 0.6rem 1rem 0 1rem;
}
.header-cell{
    height: 100%;
}

.table-header {
display: grip;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0.6rem 1rem 0 1rem;
    height: px;
}

.header-cell {
    border: 1px solid var(--border-color);
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
}

.glosa-text {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 0.4rem;
    align-items: center;
    padding: 0.5rem 1rem 0.2rem 0.9rem;
}

.glosa-text input {
    background: white;
}

.card-mid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}


.action-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 50px;
    gap: 0.1rem;
    padding: 0 1rem 0rem 1rem;
}

.action-buttons button {
    height: 50px;
}

.card-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 40px;
    gap: 0.4rem;
    padding: 0rem 0rem 0rem 1rem;
}

.card-buttons button {
    height: 50px;
}

.totals-section {
    display: grid;
    gap: 0.2rem;
    grid-template-columns: 120px 140px;
    grid-template-rows: 30px 30px 30px;
    align-items: center;

}

.totals-section button {
    font-weight: bold;
}

.total-row {
    display: contents;
}

.total-value {
    background: var(--input-bg);
    display: flex;
    align-content: center;
    justify-content: center;
    height: 22px;
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    border: 1px solid var(--border-color);
}

#total {
    background: var(--yellow-highlight);
}

.payment-section {
    display: grid;
    grid-template-columns: 80px 280px;
    padding: 1.5rem 0 2rem 1rem;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    align-items: center;
}


.user-info {
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 300px auto;
    font-size: 0.9rem;
    align-items: center;
}

.user-badge {
    background: #800000;
    color: white;
    font-size: 1rem;
    width: 180px;
    padding: 0.3rem;
    font-weight: bold;
}

.registros {
    margin: 0 0 0 8rem;
}

.checkbox-sales {
    margin: 0 0 0 2rem;
    display: grid;
    grid-template-columns: 30px 300px;
    align-items: center;
}